<div id="contentToConvert" class="landing-wrapper">
  <div class=" marginT5EM">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="pe-2">{{'ADMINP.TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="">
    <div class="row">
      <div class="col-lg-7">
        <ng-container>
          <button (click)="showResults()" class="btn btn-outline-primary my-4">
            {{'ADMINP.SEARCH' | translate}}
          </button>
          <button (click)="showLanguage()" class="btn btn-outline-primary my-4">
            {{'ADMINP.LANGUAGE' | translate}}
          </button>
          
          <button (click)="logout()" class="btn btn-outline-primary my-4">
            {{'ADMINP.LOGOUT' | translate}}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isResultInfoVisible">
    <div class="">
      <div class="row">
        <div class="col-lg-7">
          <input
            type="text"
            [formControl]="searchText"
            placeholder="{{'ADMINP.SEARCH2' | translate }}"
            class="inputSearch"
          />
        </div>
      </div>
      <ng-container>
        <div class="row">
          <div class="col-lg-7 tableSearch">
            <table class="">
              <thead>
                <tr>
                  <th (click)="sortTable('id')"> {{'ADMINP.ID' | translate}}</th>
                  <th (click)="sortTable('companyName')"> {{'ADMINP.NAME' | translate}}</th>
                  <th (click)="sortTable('contactName')"> {{'ADMINP.CONTACT' | translate}}</th>
                  <th (click)="sortTable('email')"> {{'ADMINP.EMAIL' | translate}}</th>
                  <th (click)="sortTable('date')"> {{'ADMINP.DATE' | translate}}</th>
                  <th> {{'ADMINP.VIEW' | translate}}</th>
                  <th (click)="sortTable('checked')"> {{'ADMINP.CHECKED' | translate}}</th>
                  <!-- Columna para acciones -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredData">
                  <td>{{ item.id }}</td>
                  <td>{{ item.companyName }}</td>
                  <td>{{ item.contactName }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.date }}</td>
                  <td>
                    <span
                      class="icon bi bi-arrow-right-circle"
                      (click)="handleIconClick(item.id)"
                    ></span>
                  </td>
                  <td>
                    <ng-container *ngIf="item.checked">
                      <span class="icon bi bi-check2-circle"></span>
                    </ng-container>
                    <ng-container *ngIf="!item.checked">
                      <span
                        class="icon bi bi-x-circle"
                        
                      ></span>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      
      
    </div>
  </ng-container>
  <ng-container *ngIf="showLanguages">
    <button (click)="clickEnglish()" class="btn btn-outline-primary my-4">
      {{'ADMINP.ENGLISH' | translate}}
    </button>
    <button (click)="clickSpanish()" class="btn btn-outline-primary my-4">
      {{'ADMINP.SPANISH' | translate}}
    </button>
  </ng-container>
  
</div>
