@import "initial";

.border-start-md-0 {
  @include media-breakpoint-up(md) {
    border-left: 0;
  }
}

.disclaimer-check{
  display: flex;
  padding-bottom: 1em;
}

.disclaimer-check > img{
  max-width: 15px;
  max-height: 15px;
  padding: 2px;
  margin-top: 2px;
}
